#table {
  align-items: center;
  border-collapse: collapse;
  width: 100%;
}
#table td,
#table th {
  border: 3px solid rgb(0, 0, 0);
  padding: 15px;
  align-items: center;
}
.type {
  background-color: rgb(90, 94, 165);
  border-radius: 5px;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}
h2,
/* p {
  margin: 0 0 20px;
  font-weight: 400;
  color: #999;
} */
span {
  color: #666;
  display: block;
  padding: 0 0 5px;
}
form {
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 25px;
  margin: 180px;
  margin-left: 33%;
  box-shadow: 5px 5px 6px #f5f5f5;
  background: #eee;
  width: 30%;
}
input,
textarea {
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #1c87c9;
  outline: none;
  border-radius: 5px;
}
/* button:hover {
  background: #0f820b;
} */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
button.button:hover {
  border-bottom: #a99567 1px solid;
  color: #a99567;
}
/* .btn3{
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: medium;
  width: 150px;
  padding: 8px;
  color: white;
  background-color: rgba(44, 65, 185, 0.816);
} */
/* <!-- HTML !--> */
/* <button class="button-85" role="button">Button 85</button> */

/* CSS */
.btn {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* .btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
} */

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}