#table {
  align-items: center;
  border-collapse: collapse;
  width: 100%;
}
#table td,
#table th {
  border: 3px solid rgb(0, 0, 0);
  padding: 15px;
  align-items: center;
}
.type {
  background-color: rgb(90, 94, 165);
  border-radius: 5px;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}
h2,
/* p {
  margin: 0 0 20px;
  font-weight: 400;
  color: #999;
} */
span {
  color: #666;
  display: block;
  padding: 0 0 5px;
}
form {
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 25px;
  margin: 180px;
  margin-left: 33%;
  box-shadow: 5px 5px 6px #f5f5f5;
  background: #eee;
  width: 30%;
}
input,
textarea {
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #1c87c9;
  outline: none;
  border-radius: 5px;
}
button:hover {
  background: #0f820b;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
button.button:hover {
  border-bottom: #a99567 1px solid;
  color: #a99567;
}
.btn {
  border-radius: 5px;
  float: right;
  margin-bottom: 10px;
  font-size: medium;
  width: 130px;
  height: 50px;
  padding: 8px;
  color: white;
  background-color: rgba(44, 65, 185, 0.816);
}
.btn1 {
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: medium;
  width: 50px;
  padding: 8px;
  color: white;
  background-color: rgba(44, 65, 185, 0.816);
}
.btn2{
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: medium;
  width: 50px;
  padding: 8px;
  color: white;
  background-color: rgba(44, 65, 185, 0.816);
}
.btn2:hover{
  background-color: rgba(222, 49, 49, 0.903);
}
.btn3{
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: medium;
  width: 150px;
  padding: 8px;
  color: white;
  background-color: rgba(44, 65, 185, 0.816);
}